/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #531842;
}

h3 {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #8f0f3e;
}

span {
    display: block;
}

/* Card */
.my-card {
    background-color: #b81450;
    border-radius: 10px;
    padding: 30px 50px;
}

.my-card-top {
    background-color: white;
    border-radius: 20px;
    padding: 30px 50px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 35px 0px #531842;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.my-card-bottom {
    background-color: white;
    border-radius: 20px;
    padding: 30px 50px;
    box-shadow: 0px 0px 35px 0px #531842;
}

.my-row {
    display: flex;
    justify-content: space-around;
    border: 1px solid #d93b6c;
    border-radius: 10px;
    /* height: 225px; */
    padding: 20px 0px;
}

.cat-title {
    margin-bottom: 20px;
}